{% extends "layout.html" %}
{% block body %}
      <div class="hero-unit">
        <h1>Privacy matters.</h1>
        <p>Lucid's goal: make privacy policies transparent and accessible to consumers.</p>
        <p><a class="btn btn-primary" href="/guide">Get started&raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
            <h2>Look up a policy.</h2>
            <p>View and contribute to the catalog of policies.</p>
            <p><a class="btn" href="/showall"> jump&raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Upcoming features.</h2>
           <p>Lucid is a work in progress. Check out what we have planned.</p>
          <p><a class="btn" href="/upcoming">futures&raquo;</a></p>
       </div>
        <div class="span4">
          <h2>View Lucid on github.</h2>
          <p>Check out our source code!</p>
          <p><a class="btn" href="http://www.omphalophobia.com">get it&raquo;</a></p>
        </div>
      </div>
      
      
{% endblock %}
